.myGrid {
  z-index: 3;
  position: fixed;
  top: 70px;
  bottom: 70px;
  left: 10px;
  right: 10px;
  background-color: @body-bg;
}

#menu-trigger {
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 5px;
  color: @brand-warning;
  font-size: xx-large;
}

#side-menu {
  left: 10px;
  top: 70px;
  bottom: 70px;
  padding-left: 3px;
  padding-right: 3px;
  div[class="panel-heading"] {
    background-color: @brand-primary;
    color: @brand-warning;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  div[class="panel-body"] {
    padding: 0px;
  }
}

uib-accordion {
  .panel-heading {
    height: 35px;
  }
  .panel-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .panel-group {
    .panel {
      + .panel {
        margin-top: 1px;
      }
    }
  }
}
