<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Домашняя</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="!vm.isAuthenticated"><a><span ng-bind="'Добро пожаловать ' + vm.userEmail"></span></a></li>
            <li ng-hide="!vm.isAuthenticated"><a ui-sref="apartments">Квартиры</a></li>
            <li ng-hide="!vm.isAuthenticated"><a ng-click="vm.logOut()">Выйти</a></li>
            <li ng-hide="vm.isAuthenticated"> <a ui-sref="login">Войти</a></li>
            <li ng-hide="vm.isAuthenticated"> <a ui-sref="signup" >Регистрация</a></li>
        </ul>
    </div>
  </div>
</div>
