<div class="container">
    <div class="row">
        <div class="col-lg-8 alert alert-dismissible alert-danger" ng-show="vm.message.length > 0">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Вход не выполнен!</strong>
            <p ng-bind="vm.message"></p>
        </div>
        <div class="col-lg-8">
            <div class="well">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Введите свои данные для входа</legend>
                        <div class="form-group">
                            <label for="inputName" class="col-lg-3 control-label">Логин</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="inputName" ng-model="vm.loginData.userName" placeholder="Имя Пользователя">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-3 control-label">Пароль</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="inputPassword" ng-model="vm.loginData.password" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" ng-click="vm.login()">Войти</button>
                                <button type="reset" class="btn btn-warning">Отмена</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>